<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="elm.demo.dao.StAcMapper">
  <resultMap id="BaseResultMap" type="elm.demo.domain.StAc">
    <id column="stid" jdbcType="INTEGER" property="stid" />
    <result column="fsid" jdbcType="INTEGER" property="fsid" />
    <result column="faid" jdbcType="INTEGER" property="faid" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stid, fsid, faid, add_time
  </sql>
  <select id="selectByExample" parameterType="elm.demo.domain.StAcExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from st_ac
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from st_ac
    where stid = #{stid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from st_ac
    where stid = #{stid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="elm.demo.domain.StAcExample">
    delete from st_ac
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="elm.demo.domain.StAc">
    insert into st_ac (stid, fsid, faid, 
      add_time)
    values (#{stid,jdbcType=INTEGER}, #{fsid,jdbcType=INTEGER}, #{faid,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="elm.demo.domain.StAc">
    insert into st_ac
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stid != null">
        stid,
      </if>
      <if test="fsid != null">
        fsid,
      </if>
      <if test="faid != null">
        faid,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stid != null">
        #{stid,jdbcType=INTEGER},
      </if>
      <if test="fsid != null">
        #{fsid,jdbcType=INTEGER},
      </if>
      <if test="faid != null">
        #{faid,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="elm.demo.domain.StAcExample" resultType="java.lang.Long">
    select count(*) from st_ac
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update st_ac
    <set>
      <if test="record.stid != null">
        stid = #{record.stid,jdbcType=INTEGER},
      </if>
      <if test="record.fsid != null">
        fsid = #{record.fsid,jdbcType=INTEGER},
      </if>
      <if test="record.faid != null">
        faid = #{record.faid,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update st_ac
    set stid = #{record.stid,jdbcType=INTEGER},
      fsid = #{record.fsid,jdbcType=INTEGER},
      faid = #{record.faid,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="elm.demo.domain.StAc">
    update st_ac
    <set>
      <if test="fsid != null">
        fsid = #{fsid,jdbcType=INTEGER},
      </if>
      <if test="faid != null">
        faid = #{faid,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where stid = #{stid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="elm.demo.domain.StAc">
    update st_ac
    set fsid = #{fsid,jdbcType=INTEGER},
      faid = #{faid,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where stid = #{stid,jdbcType=INTEGER}
  </update>
</mapper>