<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="elm.demo.dao.UserMapper">
    <select id="selectByPrimaryKey" resultType="elm.demo.domain.User">
        select * from user where uid=#{uid}
    </select>
    <select id="select" resultType="elm.demo.domain.User">
        select * from user
    </select>
    <insert id="insert" parameterType="elm.demo.domain.User">
        insert into user (username,password) value (#{username},#{password})
    </insert>
    <delete id="delete">
        delete from user where uid=#{uid}
    </delete>
    <update id="update" parameterType="elm.demo.domain.User">
        update user set username=#{username},password=#{password} where uid=#{uid}
    </update>

    <select id="selectByUser" parameterType="elm.demo.domain.User" resultType="elm.demo.domain.User">
        select * from user where username=#{username} and password=#{password}
    </select>
    <select id="selectByUsername" resultType="elm.demo.domain.User">
        select * from user where username=#{username}
    </select>
</mapper>